body{
    margin: 0;
    padding: 0;
    background-color: black;
}
.form{
    width:300px;
    box-shadow: 0 0 3px 0 rgba(0,0,0,0.3);
    background: #fff;
    padding: 20px;
    margin: 3% auto 0;
    text-align: center;
}
.name{
    border-radius: 20px;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #999;
    outline: none;
}
.email{
    border-radius: 20px;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #999;
    outline: none;
}
.password{
    border-radius: 20px;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #999;
    outline: none;
}
.button{
    color:darkcyan;
    width: 100%;
    padding: 10px;
    border-radius: 20px;
    font-size: 18px;
    margin: 10px 0;
    border: none;
    outline: none;
    cursor: pointer;
}
.button:hover{
    background-color: black;
    color: aqua;
}
hr{
    margin-top: 20px;
}
.or{
    font-size: 20px;
}